.highlights-section {
	max-width: 1140px;
	max-height: 80vh;
	overflow-y: auto;
	margin: 4rem auto;
	border: 1px solid black;
}

.md-table-body .md-table-row {
	.table-edit-full-width .md-edit-dialog__label {
		width: 700px;
	}
}

.md-table-row.md-table-row.data-tables__desserts__row {
	transition-duration: 2s;
}
