.App {
	text-align: center;
}

@import "react-md-globals";

body {
	margin: 0;
}

/*  make tabs full screen */
ul.md-tabs li.md-tab {
	max-width: none;
	flex-grow: 1;
}

// need this for dev mode since styles are backwards so requires more precedence
.md-table-row.md-table-row.data-tables__desserts__row {
	transition-duration: 2s;
}

.md-table-row.data-tables__desserts__row--highlight {
	background: $md-yellow-200;
}
.tables__with-menus__kebab-list .md-tile-content--left-icon {
	padding-left: $md-default-padding;
}
